// .header {
//   background-color: $color-light-s;
// }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 60px;

  background: url('../../assets/icons/bg_noise_pattern_x2.png'),
              radial-gradient(100% 215.42% at left, #5B483A 0%, #262425 100%), #211F20;
}