.btn {
  @extend %btn-l;
  color: $color-dark-3xl;
  border-radius: 100px;
  transition: all 0.5s;
}

.btn__link {
  display: inline-block;
  text-decoration: none;
  background-color: $color-primary;
  padding: 15px 45px;
  &:hover {
    background-color: $color-primary-light;
  }
}

.btn__bank {
  padding: 10px 15px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  max-width: 349px;
  @include media-tablet {
    align-items: center;
  }
}

.bank__text {
  @extend %h4;
  color: $color-dark-l;
  @include media-tablet {
    font-size: 15px;
    line-height: 110%;
    padding-left: 15px;
  }
}

.btn__round {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-dark-3xl;
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    cursor: pointer;
  }
  &-left {
    background-image: url('../assets/icons/btns/arrow-left.svg');
  }
  &-right {
    background-image: url('../assets/icons/btns/arrow-right.svg');
  }
  &-pets.btn__round {
    @extend %h4;
    display: flex;
    justify-content: center;
    align-items: center;
    &.inactive {
      color: $color-dark-s;
      border-color: $color-dark-s;
      &:hover {
        background-color: inherit;
        cursor: default;
      }
    };
    &.active {
      background-color: $color-primary;
      border: none;
      cursor: default;
    }
  }
}

.btn__learn {
  display: inline-block;
  border: 2px solid $color-primary;
  padding: 13px 43px;
  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}