body {
    min-height: 100vh;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

header form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

footer {
    height: 100px;
    margin-top: auto;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/* ===================== FOOTER STYLES ===================== */

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
}

.footer-link {
    display: block;
    text-decoration: none;
}

.github {
    width: 45px;
    height: 45px;
    background-image: url(./assets/img/github.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.copyright-year {
    padding-left: 80px;
    font-weight: 700;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/img/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
