$color-light-s: #e8eddf;
$color-light-l: #cfdbd5;
$color-accent: #f5cb5c;
$color-danger: #d62828;
$color-dark-s: #333533;
$color-dark-l: #242423;

$color-filters-white: #fff;
$color-filters-black: #000;
$color-filters-green: #0f0;

$width-content: 1280px;
