$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$color-primary-light: #FDDCC4;
$color-primary: #F1CDB3;

$color-hero-gradient-background: #211F20; // #5B483A // #262425
$color-footer-gradient-background: #211F20; // #513D2F // #1A1A1C

$width-content: 1280px;
$width-tablet: 768px;
$width-mobile: 320px;