.about {
  background-color: $color-light-xl;

}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //padding: 80px 215px 100px;
  padding: 80px 175px 100px;


}

.about__content {
  max-width: 430px;

}

.about__title {
  @extend %h3;
  color: $color-dark-l;
}

.about__text {
  @extend %paragraph-l;
  color: $color-dark-xl;
  margin-top: 25px;
}

.about__img {
  max-width: 300px;
  height: 408px;
  img {
    display: block;
    width: 100%;
  }
}