.friends {
  background-color: $color-light-l;
}

.friends__wrapper {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  > .btn__link {
    align-self: center;
  }
}

.friends__title {
  @extend %h3;
  color: $color-dark-l;
  text-align: center;
}

.friends__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 58px;
}

.friends__carousel {
  display: flex;
  align-items: center;
  column-gap: 90px;
  max-width: calc(3*270px + 2*90px);
  overflow: hidden;
  @include media-laptop {
    column-gap: 40px;
    max-width: calc(2*270px + 1*40px);
    >* {
      flex-shrink: 0;
    }
  }
}

.friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border-radius: 9px;
  overflow: hidden;
  padding-bottom: 30px;
  background-color: $color-light-s;
  transition: all 0.5s;
  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    > .btn__learn {
      background-color: $color-primary-light;
    }
  }
}

.friends__name {
  @extend %h4;
  color: $color-dark-l;
  text-align: center;
  padding: 30px 0;
}

// ===================== PETS PAGE ========================

.friends-pets {
  background-color: $color-light-l;
}

.friends__wrapper-pets {
  margin-top: 120.2px;
  padding-top: 80px;
  padding-bottom: 100px;
  @include media-laptop {
    padding-bottom: 76px;
  }
}

.friends__carousel-pets {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  row-gap: 30px;
  column-gap: 40px;
  max-width: 1200px;
  max-height: calc(2*435.1px + 1*30px);
  overflow: hidden;
  // margin-top: 45px;
  // margin-bottom: 45px;
  margin: 45px auto 74px;
  padding-top: 15px;
  padding-bottom: 15px;
  @include media-laptop {
    max-width: calc(2*270px + 1*40px);
    max-height: calc(3*435.1px + 2*30px);
    margin: 30px auto 38px;
    padding-top: 0px;
    padding-bottom: 0px;
    // & > .friends__card:nth-child(n + 7) {
    //   display: none;
    // }
  }
}

.friends__pagination-pets {
  max-width: 340px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}