.help {
  background-color: $color-light-xl;
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px 100px;
}

.help__title {
  @extend %h3;
  color: $color-dark-l;
  text-align: center;
  padding-bottom: 60px;
}

.help__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
  @include media-laptop {
    column-gap: 60px;
    max-width: 630px;
  }
}

.help__card {
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-laptop {
    width: 170px;
  }
}

.help__card__text {
  @extend %h4;
  color: $color-dark-l;
  margin-top: 30px;
}