.nav__logo {
  display: none;
}

// body {
//   position: relative;
//   overflow-x: hidden;
// }
// .header__wrapper {
//   position: relative;
//   overflow-x: hidden;
// }

@include media-tablet {
  .header__nav {
    position: absolute;
    width: 320px;
    top: 0;
    right: -150px;

    //height: 100vh;
    bottom: 0;

    z-index: 2;

    background-color: $color-dark-3xl;
    padding: 30px 10px;

    //display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }
  .nav__logo {
    display: block;
    align-self: flex-start;
    // margin-bottom: auto;
    // margin-right: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-bottom: 4px;
  @include media-tablet {
    margin-top: 158px;
    flex-direction: column;
    row-gap: 40px;
  }
}

.nav__item {
  margin-left: 35px;
  position: relative;
  @include media-tablet {
    margin-left: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: $color-dark-s;
  @extend %paragraph-l;
  transition: all 0.5s;
  &:hover {
    color: $color-light-s;
  }
  &.active {
    color: $color-light-s;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: $color-primary;
      height: 3px;
      width: 100%;
      left: 0;
      bottom: -3px;
    }
  }
  @include media-tablet {
    font-size: 32px;
  }
}
// =========== for PETS page ====================
.nav__link {
  &-pets {
    color: $color-dark-l;
    &:hover {
      color: $color-dark-3xl;
    }
    &.active {
      color: $color-dark-l;
      &:hover {
        color: $color-dark-3xl;
      }
    }
  }
}