.cart {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.cart__title {
  letter-spacing: 0.1rem;
}

.cart__img {
  width: 35px;
  height: 35px;
  background-image: url('../assets/icons/cart.png');
  background-size: contain;
  margin-right: 20px;
  position: relative;
}

.cart__count {
  display: none;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  background-color: $color-accent;
  position: absolute;
  top: -9px;
  right: -12px;
  &-active {
    display: flex;
  }
}
